button {
    cursor: pointer;
    font-family: Arial, sans-serif; 
}

.btn-btn {
    border: 4px solid transparent;
    /* background-color: #007bff;  */
    color: #fff; 
    border-radius: 30px; 
    /* padding: 0.5rem 1.8rem; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    /* box-shadow: 0px 0px 7px 8px rgba(255, 0, 0, 0.3);  */
    transition: box-shadow 0.3s ease;
    position: relative;
}

.btn-btn:hover {
    box-shadow: 0px 0px 7px 15px rgba(255, 0, 0, 0.3); 
}

.btn-outline-btn {
    border: 3px solid #fff; 
    background-color: transparent;
    color: #fff; 
    box-shadow: unset;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-outline-btn:hover {
    box-shadow: unset;
    color: red; 
    background-color: #fff;
}

.btn-btn.small {
    border-width: 2px;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
}
